gradio==3.25.0
tiktoken>=0.3.3
requests[socks]
transformers
python-markdown-math
beautifulsoup4
latex2mathml
python-docx
mdtex2html
colorama
Markdown
pygments
pymupdf
openai
numpy
arxiv
#pet
configobj==5.0.8
configparser==5.3.0
fitz==0.0.1.dev2
networkx==3.1
Pillow==9.5.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.0
PySocks==1.7.1
pytz==2023.3
scipy==1.10.1
sqlparse==0.4.3
keybord