colorama==0.4.6
configobj==5.0.8
configparser==5.3.0
fitz==0.0.1.dev2
networkx==3.1
Pillow==9.5.0
PyMuPDF==1.22.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.0
PySocks==1.7.1
pytz==2023.3
requests==2.28.2
scipy==1.10.1
sqlparse==0.4.3
